html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.menu {
	display: flex;
}

	.menu li {
		list-style: none;
	}

		.menu li + li {
			margin-left: 40px;
		}

.sticky_table {
	border-collapse: collapse;
	width: 100%;
}

	.sticky_table thead th {
		/* 縦スクロール時に固定する */
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		/* tbody内のセルより手前に表示する */
		z-index: 1;
	}

	.sticky_table th:first-child {
		/* 横スクロール時に固定する */
		position: -webkit-sticky;
		position: sticky;
		left: 0;
	}

th, td {
	padding: 5px 0px;
	background: #ffffff;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 0;
}

.textleft {
	padding: 5px 8px;
	text-align: left;
}

.r0 {
	background: #ff0000;
	color: #ffffff;
}

.r1 {
	background: #0026ff;
	color: #ffffff;
}

.r2 {
	background: #1c850c;
	color: #ffffff;
}

.r3 {
	background: #fff000;
	color: #000000;
}

.r4 {
	background: #ffffb0;
	color: #000000;
}

.rx {
	color: #808080;
}

.kai-all {
	color: #000000;
	font-weight: bold;
}

.kai-any {
	color: #808080;
}

.kai-not {
	color: #000000;
	background: #808080;
}

.tr_head_bottom {
	border-bottom: 1px double #000;
}

.tr_bottom {
	border-bottom: 1px dashed #bbb;
}